.footer{
    background-color: #161616;
    text-align: center;
    color: white;
    padding: 0.5cm;
    font-size: 0.5cm;
    font-family: sans-serif;
    bottom: 0px;
    position: fixed;
    width: 100%;
}